.signup_row {
	height: 100vh;
}

.ant-col.signup_col {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 100px;
}

.signup_card {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 350px;
	height: auto;
	background-color: #ffffff;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 -1px 0px rgba(0, 0, 0, 0.02);
	padding: 24px;
}

.signup_text {
	font-size: 21px;
	margin-top: 15px;
	margin-bottom: 15px;
	font-weight: 700;
}

.ant-form.signup_form {
	padding: 0 10px;
	width: 100%;
}

.ant-form.signup_form .ant-input {
	line-height: 1;
	margin-left: 4px;
}

.ant-form-item.email_form_item,
.ant-form-item.password_form_item,
.ant-form-item.confirmPassword_form_item,
.ant-form-item.userName_form_item,
.ant-form-item.signup_btn_form_item {
	margin-bottom: 15px;
}

.anticon.form_item_icon {
	color: #c5c5c5;
}

.ant-form-item.agreement_form_item {
	margin-bottom: 15px;
}

.ant-form-item.agreement_form_item .ant-form-item-control-input-content {
	display: flex;
	justify-content: space-between;
}

.signin_link {
	margin-left: 10px;
}

.signin_link:hover {
	color: #0275d8;
	font-weight: 400;
}

.ant-form-item.signin_text_form_item {
	margin-bottom: 0;
}

.ant-btn.signup_button {
	width: 100%;
	font-weight: 800;
	color: #ffffff;
}
